# Ignore everything
/*
/*/

# Except the gitignore and the readme file 
!.gitignore
!README.md

# Track the neovim configs
!/nvim/
# But ignore the plugin folder
/nvim/plugin/*

# Track the tmux configs (only tmux.conf)
!/tmux/
/tmux/*
!/tmux/tmux.conf

# Track alacritty config
!/alacritty/
/alacritty/catppuccin

